{% extends 'base.html' %}
{% load django_bootstrap5 %}

{% block body %}
  <div class="container p-5">
    {% if request.resolver_match.url_name == 'create' %}
      <h1 class='mb-3'>글쓰기</h1>
    {% else %}
      <h1 class='mb-3'>수정하기</h1>
    {% endif %}
    
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %}
      {% comment %} {% bootstrap_form review_form %} {% endcomment %}
      
      <!-- title -->
      <div class="input-group mb-3">
        <button class="btn btn-outline-info text-black-50" type="button" id="button-addon1">제목</button>
        <input type="text" class="form-control" name="title" value="{{ review.title }}">
      </div>

      <div class="input-group mb-3">
        <button class="btn btn-outline-info text-black-50" type="button" id="button-addon1">내용</button>
         <textarea class="form-control" style='height:400px;' name="content">{{ review.content }}</textarea>
      </div>  

      <div class="input-group mb-3">
        <input type="file" class="form-control" name='image' accept="image/*" value="" id="id_image">
      </div>

      <!-- 버튼 -->
      <div class="container text-center">
        <button type="submit" class="btn btn-outline-info m-5 px-5">OK</button>
        {% if request.resolver_match.url_name == 'update' %}
          <a class='btn btn-outline-warning px-5' href="{% url 'articles:detail' review.pk %}">뒤로가기</a>
        {% elif request.resolver_match.url_name == 'create' %}
          <a class='btn btn-outline-warning px-5' href="{% url 'articles:index' %}">목록으로</a>
        {% endif %}
      </div>
    </form>
  </div>

{% endblock body %}